/*
.tc_dashboard_section_1 {
  display: block;
  width: 100%;
  margin-bottom: 2vh;
}

.view_all_patients_button_holder {
  display: inline-block;
  width: 30%;
  margin-right: 1%;
}

.search_all_patients_bar {
  display: inline-block;
  width: 69%;
}

@media screen and (max-width: 600px) {
  .view_all_patients_button_holder {
    width: 100%;
  }
  .search_all_patients_bar {
    width: 100%;
  }
}
*/
