/*
.table-container {
  overflow-x: auto;
}

.no_item_message {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table_style {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 10px;
  text-align: left;
  vertical-align: middle;
  border-left: 1px solid var(--light-grey-color);
  border-right: 1px solid var(--light-grey-color);
}
th {
  background-color: var(--dark-green-color);
  color: white;
  font-size: 20px;
}
td {
  vertical-align: top;
  font-size: 18px;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: var(--light-grey-color);
}

@media screen and (max-width: 600px) {
  th {
    font-size: 4.5vw;
  }
  td {
    font-size: 4vw;
  }
}
*/
