/*:root {
  --dark-green-color: #156130;
  --dark-red-color: #ce171e;
  --light-red-color: #d85156;
  --light-green-color: #3aad63;
  --white-color: #ffffff;
  --black-color: #000000;
  --grey-color: #505050;
  --light-grey-color: #ddd;
}*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
