.outer_box_space {
  max-width: 1400px;
  margin: auto;
}

.box {
  overflow: hidden;
  margin: 20px auto 20px;
  max-width: 90%;
  height: auto;
  border: 3px solid var(--dark-green-color);
  border-radius: 15px;
  padding: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.box h1 {
  font-size: 2vw;
  text-align: left;
  padding: 0px;
  padding-left: 5%;
}

.inner_content {
  padding: 0% 5%;
}
