.normal_button {
  display: block;
  width: 100%;
  padding: 10px 20px;
  margin: 5px 0px;
  background: var(--dark-green-color);
  font-size: 22px;
  border: 1px solid var(--white-color);
  cursor: pointer;
  color: var(--white-color);
  border-radius: 7px;
  text-align: center;
}

.normal_button:hover {
  background: var(--light-green-color);
  color: var(--white-color);
  border: 1px solid var(--light-green-color);
}

.normal_button:active {
  background: var(--white-color);
  color: var(--dark-green-color);
  border: 1px solid var(--dark-green-color);
}

.normal_button:disabled {
  background: var(--white-color);
  color: var(--grey-color);
  border: 1px solid var(--grey-color);
}

.normal_button.red_button {
  background: var(--dark-red-color);
  color: var(--white-color);
  border: 1px solid var(--dark-red-color);
}

.normal_button.red_button:hover {
  background: var(--light-red-color);
  color: var(--white-color);
  border: 1px solid var(--light-red-color);
}

.normal_button.red_button:active {
  background: var(--white-color);
  color: var(--dark-red-color);
  border: 1px solid var(--dark-red-color);
}

.normal_button.red_button:disabled {
  background: var(--white-color);
  color: var(--grey-color);
  border: 1px solid var(--grey-color);
}
